
import (methods, lme4, Matrix)

importFrom("stats", "as.formula", "confint", "drop.terms", "gaussian",
           "is.empty.model", "model.matrix", "na.action", "pnorm",
           "ppoints", "printCoefmat", "qnorm", "quantile",
           "reformulate", "residuals", "sd", "setNames", "sigma",
           "symnum", "terms", "vcov")

export ("basis",
        "cr",
        "dlm",
        "interpret.dlm",  # is.LagBasis, is.SmoothLag, is.dlMod,
        "lme4.dlm",
        "makeDlMod",
        "parse.names", "plotDlm",
        "sm")

export ("[.pnames",
        "coef.dlMod", "confint.dlMod",
        "makeDlMod.merMod",
        "plot.dlMod", "print.summary.dlMod",
        "qqnorm.dlMod",
        "summary.dlMod")

exportClasses ("dlMod", "LagBasis", "SmoothLag")

exportMethods ("[",
               "changePoint", "cholfVar",
               "lagIndex",
               "omega",
               "scaleMat", "Sigma",
               "vcoef", "vcoef0")
